In [1]:
 select distinct Department from EmployeeTable;
 alter table EmployeeTable ADD  LOCATION VARCHAR(20);
 SP_RENAME 'EmployeeTable.Empid','EmployeeID';
select * from EmployeeTable where Department in('Sales','Shipping');
 select * from EmployeeTable where HireDate>'1991-01-01' and HireDate<'1998-01-01';
create table emptable(EmpId int,Name VARCHAR(20),Department VARCHAR(20),HireDate date,Training VARCHAR(20));
 select * from EmployeeTable where Training>40; 
 select * into emptable from EmployeeTable;
 delete  from EmployeeTable where Training>60;
alter table EmployeeTable drop COLUMN HireDate;
 alter table EmployeeTable alter COLUMN Department VARCHAR(34);
 insert into EmployeeTable(Name,Department,Training)values('satya','SE','12');
 select * from EmployeeTable

: Msg 102, Level 15, State 1, Line 3
Incorrect syntax near 'SP_RENAME'.