In [ ]:


select ord_no as 'Order no' ,purch_amt as 'purchase amount' ,cust_name as 'Customer name',city from customers c join orderss o on c.salesman_id=o.salesman_id



select cust_name as 'Customer Name' , Name as 'Salesman Name' from customers c join salesman s on c.salesman_id=s.salesman_id



select cust_name as 'Customer Name' , Name as 'Salesman Name'  from customers c join salesman s on c.salesman_id=s.salesman_id
where commission>0.12


select cust_name as 'CustomerName' , Name as 'salesman Name'   from customers c  join salesman s on c.salesman_id=s.salesman_id
where c.city <> (s.city) and s.commission >0.12



select ord_no as 'Order number' ,ord_date as 'Order date' ,purch_amt as 'Amount' ,cust_name as 'Customer name' , Name as 'Salesman name' ,commission from customers 
c join orderss o on c.customer_id=o.customer_id
join salesman s on c.salesman_id=s.salesman_id



select pro_name as 'Item name' ,pro_price as 'Price' ,com_name as 'Company Name' from item_mast i join company c on i.pro_com=c.com_id