In [ ]:
select max(salary)as maximu_salary,min(salary)as minimum_salary,avg(salary)as avg_salary from employee

select  sum(salary),department_id from employee group by department_id

select department_id, count(employee_id)as no_employees from employees group by department_id

select department_id,sum(salary)from employees group by department_id

select concat(first_name,last_name),department_id from employees

select concat(first_name,last_name),salary from employees


SELECT first_name,COUNT(department_id) FROM Employees GROUP BY first_name HAVING COUNT(department_id) > 1  

select * from employees

select manager_id ,sum(salary) as total_salary from employees group by manager_id

select concat(m.first_name,m.last_name)as EmployeeName,m.department_id,m.salary,w.first_name as manager_name
from employees m,employees w where m.manager_id=w.employee_id and m.last_name like '_a%' 


select department_id,avg(salary)as AvgSalary from dbo.employees group by department_id  order by department_id


select department_id,max(salary)as MaxSalary from employees group by department_id